

html {
  scroll-behavior: smooth;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 14px;
  color: $grey;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: #5D5D5D;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: $green;
  }
}

img {
  max-width: 100%;
  display: block;
}