.container {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 5px;
}

.aboutContent {
  position: relative;
  grid-column: 1 / 8;
  grid-row: 1;
  z-index: 2;
  background-color: transparent;
  padding: 2.5em 0;
}

.aboutDescription {
  background-color: lightgrey;
  padding: 1.5em;
  border-radius: 10px;
}

.aboutImage {
  align-self: center;
  grid-column: 4 / 13;
  grid-row: 1;
  z-index: 1;
  object-fit: cover;
  width: auto;
}

.img {
  border-radius: 10px;
}

.heading {
  border-bottom: #2E845F solid 1px;
}