  /* Fade up */
.appear {
  opacity: 0;
  z-index: 1;
}

.appearActive {
  opacity: 1;
  transition: opacity 5000ms linear;
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 5000ms linear;
}
