

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #5D5D5D;
  scroll-behavior: smooth;
}

p {
  color: #5D5D5D;
}

* {
  box-sizing: border-box;
}

a {
  color: #5D5D5D;
  text-decoration: none;
  transition: all 200ms ease-in-out;
  &:hover {
    cursor: pointer;
    color: #2E845F;
  }
}

img {
  max-width: 100%;
  display: block;
}