.container {
  min-height: 100vh;
  padding: 7.5em 0;
  padding-bottom: 15em;
}

.heroContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5em 0;
  grid-template-areas: 
    "image description description"
    "social social social";
  height: 100%;
  align-items: center;
  background-clip: content-box;
  h1 {
    margin-bottom: 0;
  }
  border-radius: 7.5px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.15);
}

.image {
  border-radius: 9999px;
}

.imageContainer {
  opacity: 1;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 180px;
  width: 180px;
  border: #2E845F solid 1px;
  transition: all 200ms ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

.descriptionContainer {
  grid-area: description;
  padding: 0 auto;
}

.socialContainer {
  grid-area: social;
  padding-top: min(2em);
  align-self: start;
}