.heroContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5em 0;
  padding-bottom: 15em;
  grid-template-areas: 
    "image description description"
    "social social social";
  min-height: 100vh;
  align-items: center;
  background-clip: content-box;
  h1 {
    margin-bottom: 0;
  }
}

.image {
  border-radius: 9999px;
}

.imageContainer {
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 170px;
  width: 170px;
  border: #2E845F solid 1px;

  transition: all 200ms ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

.descriptionContainer {
  grid-area: description;
}

.socialContainer {
  grid-area: social;
}