@import "variables";
.icon {
  color: $green;
  width: 2em;
}

.iconContainer {
  width: 5em;
  height: 5em;
  display: flex;
  justify-content: space-evenly;
  border: $green solid 1px;
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.3;
  }
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}